//- layout.pug
html
  head
    title My Site - #{title}
    block scripts
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
    link(href="/static/style.css", rel="stylesheet")
  body
    .container
      block content
      block foot
        #footer
          p some footer content