//- page-a.pug
extends layout.pug

block content
  .row.justify-content-center.align-items-center.reset-passord
    .col-sm-6
      h1= "Reset your password"
      if error
        .alert.alert-danger= error
      form(method= 'post')
        .form-group
          input(class="form-control", name='token', hidden=true, value= token)
        .form-group
          input(class="form-control", name='password', type='text', placeholder='New password')
        .form-group
          input(class="form-control", name='confirmPassword', type='text', placeholder='Confirm password')
        div
          button(class='btn btn-primary', type='Submit') Reset password